/* style guide for the whole website*/
/*part of the style and precise position referenced anima plug in*/

:root {
  --black: #000000;
  --cod-gray: #080809;
  --mist-gray: #c4c4c433;
  --oriental-pink: #cc9e8f;
  --rock-blue: #9bb7c3;
  --silver: #605555;
  --white: #ffffff;
  --zambezi: #605555;

  --font-size-s: 14px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 34px;
  --font-size-xxl: 36px;
  --font-size-xxxl: 48px;
 
  --font-family-merriweather: "Merriweather", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.text2 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}

.center {
  color: var(--cod-gray);
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 900;
}

.roboto {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.serifB14 {
  color: var(--white);
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 900;
}

.sans18 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.sansB18 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.serifB24 {
  color: var(--black);
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 900;
}

.serif34 {
  color: var(--black);
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 900;
}

.rect2 {
  border: 1px solid var(--black);
}

.logo {
  align-self: flex-end;
  height: 78px;
  object-fit: cover;
  width: 235px;
}

.headerOverlap {
  align-items: center;
  background-image: url(../img/headerBG.png);
  background-size: 100% 100%;
  display: flex;
  height: 169px;
  justify-content: flex-end;
  min-width: 1728px;
  padding: 26px 103px;
}

/* header text positions */
.l1 {
  letter-spacing: 0;
  height: 30px;
  width: 168px;
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-l);
}

.l2 {
  letter-spacing: 0;
  margin-left: 47px;
  min-height: 30px;
  min-width: 125px;
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-l);
}

.l3{
  letter-spacing: 0;
  margin-left: 47px;
  min-height: 30px;
  min-width: 104px;
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-l);
}

.l4 {
  letter-spacing: 0;
  margin-left: 47px;
  min-height: 30px;
  min-width: 104px;
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-l);
}

.l5{
  letter-spacing: 0;
  margin-left: 30px;
  min-height: 31px;
  width: 112px;
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-l);
}

.hgroup {
  align-items: flex-end;
  display: flex;
  height: 50px;
  margin-left: 504px;
  margin-top: 20px;
  min-width: 777px;
}

.breadcrumb {
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 27px;
  min-height: 30px;
  text-align: left;
}

.columns {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 1728px;
}
.e {
  background-color: var(--rock-blue);
  border-radius: 11px;
  height: 22px;
  width: 22px;
}

.vanilla {
  letter-spacing: 0;
  margin-left: 19px;
  min-height: 21px;
  min-width: 54px;
}

.e1 {
  background-color: var(--silver);
  border-radius: 11px;
  height: 22px;
  margin-left: 20px;
  width: 22px;
}

.original {
  letter-spacing: 0;
  margin-left: 19px;
  min-height: 21px;
  min-width: 62px;
}

.flavorcontainer {
  align-items: flex-end;
  display: flex;
  margin-left: 15px;
  margin-top: 21px;
  min-width: 293px;
}

.btn {
  align-items: center;
  background-color: #fff;
  border: 1px solid #00000080;
  border-radius: 2px;
  display: flex;
  height: 34px;
  margin:10px 0px 10px 90px;
  padding: 2px 20px;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  min-width: 140px;
}

select {
  align-items: center;
  background-color: #fff;
  border: 1px solid #00000080;
  border-radius: 2px;
  display: flex;
  height: 34px;
  margin:10px 0px 10px 0px;
  padding: 2px 20px;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  min-width: 60px;
}


/*.button {*/
/*  align-items: flex-start;*/
/*  background-color: var(--mist-gray);*/
/*  border-radius: 2px;*/
/*  height: 30px;*/
/*  margin-left: 52px;*/
/*  min-width: 140px;*/
/*  border: 1px solid #00000080;*/
/*  background: 1px solid #00000080;*/
/*}*/

.bigbtn:hover {background: #eee;}
.btn:hover {background: #ddd;}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}

/*.greybutton {*/
/*  align-items: flex-start;*/
/*  background-color: var(--mist-gray);*/
/*  border-radius: 2px;*/
/*  display: flex;*/
/*  height: 28px;*/
/*  margin-left: 52px;*/
/*  min-width: 157px;*/
/*  padding: 2px 25px;*/
/*  border: 1px solid #00000080;*/
/*}*/


.bigbtn {
  alignment: center;
  align-content: center;
  background-color: #a3ccd7;
  border: 1px solid #00000080;
  border-radius: 2px;
  display: flex;
  height: 40px;
  margin-left: 2px;
  margin-top: 20px;
  min-width: 340px;
  padding: 8px 80px;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);

}